@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

:root {

    --primary-color: #E7EFF2;
    --secondary-color: #193845;

    --blue-color: #627CEE;
    --green-color: #39C6B5;
    --white-color: #FFFFFF;
    --gray-color: #E5E8EC;

}

body {
    overflow-x: hidden;
    font-family: "Tajawal", sans-serif;
    background-color: var(--white-color);
}

.layout-main-w {
    width: calc(100dvw - 18rem);
}

.nav-h {
    height: calc(100dvh - 6rem);
}